// VARIABLES

$black: #000000;
$white: #FFFFFF;
$lightYellow: #F5F5DC ;
$daisyYellow: #f8f3e4;
$daisyGrey:#757575;
$salmonAlert:#e48d8d;
$lightGray:#d3d3d3;
$letterbrownGrey:#555;
$hoverUnderline:#ccccb6;

// Daisy --> font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// .section-login .section__head h1 {
//     font-family: "rocky-condensed", serif;
//     font-size: 32px;


// .form-base.form-base.form-base .form__btn {
//     background: #000;
//     color: #fff;
//     letter-spacing: 0.36em;
//     padding: 14.5px 15px;
//     margin: 0;

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


// @font-face {
//     font-family: 'Elza Text';
//     src: url('./fonts/ElzaText-Regular.ttf') format('truetype');
// }
// @import url('./fonts/ElzaText-Regular.ttf');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    // width: 100vw;
    // // margin: 0 0px; /* TODO REVISAR***********************/
    // padding: 0;
    // box-sizing: border-box;

    // font-family: 'Helvetica Neue', "Poppins", "Helvetica", 'Roboto', sans-serif;
    font-family: 'Helvetica Neue', "Poppins", "Helvetica", 'Roboto', sans-serif;
    background-color: pink;
}



  
.app{
    width: 100vw;
    background: blue;
    display: flex;
    justify-content: center;
    width: 100%;

    
   

    .container{
        // width: 865px;
         //width: 100vw;
         
         background: $white;
        
         // max-width: 2000px;
        // // min-height: calc(100vh - var.$nav-height);
        // margin: 0 auto;
        
        width: 100%;
        // width: 85%; **************************************
        margin: 0 auto;
        padding: 0;
        
    

         .link{
             text-decoration:transparent;
             color: inherit;
         }



        // LOGIN & REGISTER

        .auth{

            .container{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                background-color: $daisyYellow;
                
            }

            display: flex;
            flex-direction: column;
            justify-content:center;
            // background-color: $daisyYellow;
            height: 100vh;
           
            

            .backImg{
                width: 100%;
                height: 50vh;
                margin-bottom: 50px;
                
                img{
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
               }

            }

            h1{
                font-size: 25px;
                color: black;
                margin-bottom: 20px;
                font-weight: 400;
                letter-spacing: .2em;
                line-height: 1.47;
                
              
            }

            form{
                display:flex;
                flex-direction: column;
                padding: 0px 10px 10px 0px;
                width: 350px;
                gap: 20px;
                margin-top: 0; 

                input{
                    padding:10px;
                    border: 1px solid $daisyGrey;
                    border-radius: 0;
                    line-height: 1.47;

                    text-decoration: none;
                    border-bottom: 1px solid gray;
                    background-color: $daisyYellow;
                }

                button{
                    padding: 10px;
                    border:none;
                    cursor: pointer;
                    color:$white;
                    background-color: $black;
                    letter-spacing: 0.36em;
                    line-height: 2.5;
                    // TODO añadir hover
                }

                p {
                    font: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size:12px;
                    text-align: center;
                }

                
            }
        }

        // NAVBAR

        .navbar{
            background: red;
            
            .navbar-wrapper{
                background: greenyellow;
                
                .container{
                    padding: 10px 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 200px;
                    background:$white;
                    
    
                    width: 100%;
                    margin: 0 auto;
                    padding: 0px 10px;
                    
    
                    .logo{
                        img{
                            width: 100%;
                            object-fit: cover;
                            // background-color: lightgray
                        }
                    }
                    .links{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color:$black;
    
                        h6{
                            font-size: 16px;
                            font-weight: 200px;
                        }

                        .all-link {
                            color: $daisyGrey; // Estilo específico para "ALL"
                            font-weight: bold; // Ejemplo de otro estilo
                        }

                   

                        span{
                            cursor: pointer;
                        }
                    
                            // lo muevo fuera abajo y no tiene underline yellow
                        // .create{
                        //     background-color:$daisyYellow ;
                        //     width: 50px;
                        //     height: 50px;
                        //     border-radius: 50%;
                        //     display:flex;
                        //     align-items: center;
                        //     justify-content: center;
                        //     font-weight: 300px;
                        //     border: 1px solid $white;


                        //     &:hover {
                        //         color: $daisyGrey;
                        //         background-color: white;
                        //         border: 1px solid $daisyGrey;
                        //         text-decoration: none;

                        //      }
                        // }
                    }
                }

                // ON HOVER ---> Yellow UNDERLINE NATBAR LINKS
                .links .link {
                    text-decoration: none; 
                    color: inherit; 
                    border-bottom: 4px solid transparent; // keeps space for the border on future hover
                
                    &:hover {
                        border-bottom-color: $hoverUnderline; // yellow underline
                        // color: $daisyGrey; 
                    }
                }

                // ON HOVER ---> CIRCLE COLOR changes but without yellow underline link
                .links .create {
                    background-color: $daisyYellow;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    border: 1px solid $white;
                
                    &:hover {
                        color: $daisyGrey;
                        background-color: white;
                        border: 1px solid $daisyGrey;
                        text-decoration: none; // no yellow line
                    }
                }
            }

        }


        // FOOTER

        
        footer {
                margin-top: 50px;
                padding: 20px;
                background-color: $daisyGrey;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                img {
                  height: 90px;
                }        
        }

        // HOME

        .home{
            padding: 0px 40px; //***************************

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post{
                    display: flex;
                    gap: 100px;

                    // para intercalar mostrar img a la izda o a la derecha(odd number-->2n+1)
                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex:2;

                         position:relative;
                         z-index: 1; // Asegura que contenedor tenga  z-index mayor


                        // Para mostrar texto o fondo de color debajo de imagen
                        &::after{
                            content:""; // no text
                            width: 100%;
                            height: 100%;
                            background-color: $daisyYellow;

                            position:absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1; // llevar detrás de imagen
                        }

                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover; // crop properly
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 48px;
                        }

                        p{
                            font-size: 18px;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: $daisyYellow;
                            border: 1px solid $daisyGrey;
                            color:$daisyGrey;

                            &:hover{
                                color: $daisyGrey;
                                background-color: $white;
                                border: 1px solid $daisyGrey;
                            }
                        }

                    }
                }
            }
        }
        

        // POST (single blog)

        .post{
            display: flex;
            gap: 50px;

            

            .content{
                flex:5;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 0px 20px;

                img{
                    width: 100%;
                    // height: 50%;
                    height: 500px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;
                }

                // EDIT & DELETE (Pencil and Trash) ICONS 
                .icon {
                    font-size: 24px; 
                    margin: 0 10px; 
                    cursor: pointer; 
                  
                    &.pencil {
                      color: $daisyGrey; 
                    }
                  
                    &.trash {
                      color: $salmonAlert; 
                    }
                  
                    &:hover {
                      opacity: 0.7; 
                    }
                  }
            
                  
                
                h1{
                    font-size: 42px;
                    color: #333;
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                   
                
                }
                
            }
            .menu{
                flex:2;
                display: flex;
                flex-direction: column;
                gap: 25px;
            }

            h1{
                font-size: 20px;
                color:#555;
            }

            .post{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                
                h2{
                    color:#555;
                }

                button{
                    width: max-content;
                    padding: 7.5px 15px;
                    border: none;
                    cursor: pointer;
                    background-color: $white;
                    border: 1px solid $daisyGrey;
                    color:$daisyGrey;

                    &:hover{
                        color: $daisyGrey;
                        background-color: $daisyYellow;
                        border: 1px solid $daisyYellow;
                    }
                }





            }


        }


        // CREATE Add post

        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            padding: 0px 20px; //********
            align-items: stretch; /* Asegura que los elementos hijos tengan la misma altura */
            
            .content{
                flex:5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid $lightGray;
                }
                
                .editorContainer{
                    height: 100%;
                    overflow: scroll;
                    border: 1px solid $lightGray;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex:2;
                display: flex;
                flex-direction: column;
                gap: 20px;


                .item{
                    padding: 10px;
                    border: 1px solid $lightGray;

                    flex:1; // makes same size (item1 & item2)
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                    font-size: 12px;
                    color: $letterbrownGrey;

                    h1{
                        font-size: 20px;
                    }

                    .file{
                        text-decoration: underline;
                        cursor:pointer;
                    }

                    .buttons{

                        .submit { // Submit btn for edit blog or create blog
                            cursor: pointer;
                            color: $letterbrownGrey;
                            background-color: $daisyYellow;
                            border: 1px solid $daisyGrey;
                            padding: 3px 5px;
                          }
                    }
                    // .buttons{
                    //     display: flex;
                    //     justify-content: space-between;


                    //     :first-child{ // Save draft btn
                    //         cursor: pointer;
                    //         color: $daisyGrey;
                    //         background-color: white;
                    //         border: 1px solid $daisyGrey;
                    //         padding: 3px 5px;
                    //       }
                    //       :last-child{ // Upload btn
                    //         cursor: pointer;
                    //         color: $letterbrownGrey;
                    //         background-color: $daisyYellow;
                    //         border: 1px solid $daisyGrey;
                    //         padding: 3px 5px;
                    //       }
                    // }


                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: $daisyGrey;
                    }
                    
                    .radio-input:checked + .radio-label::before {
                        background-color: $daisyGrey; /* Cambia este color al que prefieras */
                    }
                    
                    .radio-input {
                        display: none; /* Oculta el radio button original */
                    }
                    
                    .radio-label {
                        position: relative;
                        padding-left: 25px;
                        cursor: pointer;
                    }
                    
                    .radio-label::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 10px;
                        height: 10px;
                        border: 1px solid $daisyGrey; /* Color del borde del círculo */
                        border-radius: 50%;
                        background-color: #fff; /* Color de fondo del círculo */
                    }
                    
                    
                    



                }
                
            }
        }




    }
}